<div class="container">
  <form>
    <div class="p-grid">
      <div class="p-col-12">
        <h2>Novo Lançamento</h2>
      </div>
      <div class="p-col-12">
        <p-selectButton [options]="options" class="p-button-sm" #tipo></p-selectButton>
      </div>
      <div class="p-col-6 p-md-4 p-fluid">
        <label>Vencimento</label>
        <input type="date" pInputText class="p-inputtext-sm">
        <!-- <p-calendar></p-calendar> -->
      </div>
      <div class="p-col-6 p-md-4 p-fluid">
        <label>{{ tipo.value == 'RECEITA'? 'Recebimento' : 'Pagamento'}}</label>
        <input type="text" pInputText class="p-inputtext-sm">
      </div>
      <div class="p-fluid p-md-10 p-fluid">
        <label>Descrição</label>
        <input type="text" pInputText class="p-inputtext-sm">
      </div>
      <div class="p-fluid p-md-2 p-fluid">
        <label>Valor</label>
        <input type="text" pInputText class="p-inputtext-sm" placeholder="0.00">
      </div>
      <div class="p-col-12 p-md-6 p-fluid">
        <label>Categoria</label>
        <!-- <input type="text" pInputText class="p-inputtext-sm"> -->
        <p-dropdown [optionValue]="'valor'" optionLabel="label" [options]="categorias"></p-dropdown>
        <!-- <select>
          <option *ngFor="let categoria of categorias" value="{{categoria.value}}"></option>
        </select> -->
      </div>
      <div class="p-col-12 p-md-6 p-fluid">
        <label>Pessoa</label>
        <input type="text" pInputText class="p-inputtext-sm">
      </div>
      <div class="p-col-12 p-fluid">
        <label>Observação</label>
        <textarea pInputTextarea class="p-inputtext-sm"></textarea>
      </div>
      <div class="p-col-12">
        <button pButton type="submit" label="Salvar" class="p-button-sm"></button>
        <button pButton type="button" label="Novo" class="p-button-sm p-button-info" style="margin: 0 5px;"></button>
        <a href="javascript:;">Voltar para página de pesquisas</a>
      </div>
    </div>
  </form>
</div>
